HELP.md

# Build outputs
target/
out/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Gradle
.gradle/
!/gradle/wrapper/gradle-wrapper.jar
.gradle-home/

# Maven (if generated)
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
release.properties
dependency-reduced-pom.xml
*.log

# Spring Boot configs
**/application-*.yml
**/application-*.yaml
**/application-*.properties
!**/application-example.yml
!**/application-example.yaml
!**/application-example.properties
!src/main/resources/application.yml
!src/main/resources/application-dev.yml
!src/main/resources/application-test.yml
!src/test/resources/application-test.yml

# IDE files
## IntelliJ IDEA / JetBrains
.idea/
*.iml
*.iws
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

## Eclipse / Spring Tool Suite
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

## NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS / temp files
*.out
*.tmp
*.swp
*.swo
*.DS_Store
*.pid

# Project docs (перенесено в README)
docs/
