spring:
  application:
    name: edu-backend
  profiles:
    default: dev
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        default_schema: public
        jdbc.time_zone: UTC
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  sql:
    init:
      mode: never

logging:
  level:
    org.springframework: info
    org.hibernate.SQL: warn
    org.hibernate.type.descriptor.sql.BasicBinder: warn
